{% extends 'base.html' %}
{% block title %}
<title>Notices</title>
{% endblock %}

{% block body %}
    <div class="container">
    <br><br>
    <div>
      <div class="bg-light p-5 rounded">
        <div class="col-sm-8 mx-auto">
          <h1><i class="bi bi-bell"></i> Notices..</h1>
          <p>No latest notices...</p>
            <div>
              <a class="btn btn-primary" href="/posts" role="button">Account &raquo;</a>
                <a class="btn btn-primary" href="/posts" role="button">+ Apply New Outpass &raquo;</a>
              <a class="btn btn-primary" href="/posts" role="button">View Status &raquo;</a>
          </div>
        </div>
      </div>
    </div>
    </div>
{% endblock %}